*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
html
{
    scroll-behavior: smooth;
}
/* Scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: #990302; /* Asosiy orqa fon */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff3c3c, #b30000); /* Yonib turgandek effekt */
  border-radius: 10px;
  box-shadow: 0 0 6px #ff4d4d, 0 0 10px #ff4d4d; /* Glow effekt */
}

/* Hover bo‘lsa yanada chiroyliroq ko‘rinadi */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff5e5e, #cc0000);
  box-shadow: 0 0 10px #ff6666, 0 0 15px #ff3333;
}

/* Firefox uchun */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff3c3c #990302;
}

/* #All
{

} */