@media screen and (max-width: 468px){
    #Header
    {
        width: 100%;
        height: auto;
    }
    #Header-navigation
    {
        width: 100%;
    }  
    #Header-main
    {
        width: 100%;
    }
    #Header-main
    {
        
    }

}