#Header-navigation {
    position: relative; /* Default holat */
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
    z-index: 1000; /* Navbar boshqa elementlardan ustun bo‘lishi uchun */
}

/* #Header-navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */
#Header #Header-navigation .container
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;

}

#Header #Header-navigation .container #Header-logo
{
    width: 30%;
}
#Header #Header-navigation .container #Header-logo a
{
    text-transform: capitalize;
    color: white;
    gap: 20px;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
#Header #Header-navigation .container #Header-logo a img
{
    height: 70px;
}
#Header #Header-navigation .container #Header-nav
{
    width: 30%;
}
#Header #Header-navigation .container #Header-nav ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Header #Header-navigation .container #Header-nav ul li a
{
    color: #FFFFFF;
}
#Header #Header-navigation .container #Header-contact
{
    width: 30%;
}
#Header #Header-navigation .container #Header-contact p
{
    color: #ff0301;
    font-weight: 500;
    letter-spacing: 1px;
}
#Header #Header-navigation .container #Header-contact b a
{
    color: #FFFFFF;
}